@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat";
}


body {
    background-color: black;
}

.heading h1{
    background-color: white;
    height: 40px;
    color: orangered;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.first-section h1 {
    color: white;
    background-color: black;
    text-align: center;
    width: 100vw;
}

.intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/pexels-riku-keto-29614969_014911.jpg);
    background-size: cover;
    height: 45vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-block-bottom {
    background-color: black;
}

.intro-block-para1 {
    color: white;
    background-color: black;
    font-size: 40px;
    opacity: 55%;
    width: 75vw;
    margin: 15px;
    padding: 25px;
    border-radius: 55px;
}

.intro-block-para2 {
    color: orangered;
    background-color: black;
    font-size: 40px;
    width: 550px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(/pexels-karolina-grabowska-4206046_014748.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.second-section-para-group{
   color: white;
   background-color: black;
   font-size: 45px;
   opacity: 65%;
   width: 75vw;
   margin: 15px;
   padding: 25px;
   border-radius: 55px;
}

.second-section-para-group p {
  
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.third-section p {
    width: 75vw;
}