@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat";
}

body {
    background-color: black;
}
.black-space {
    width: 100vw;
    height: 27px;
    background-color: black;
    margin: 0px;
    border-bottom: 0px;
} 

.call-now p {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    color: white;
    font-weight: 500;
    width: 100vw;
    background: darkblue;
    text-align: center;
    align-items: center;
    height: 35px;
    font-size: 25px;
    border-top: 2px;
    margin-top: 6px;
    z-index: 1;
}

.logo {
    justify-content: space-between;
    width: 100vw;
    background-color: #040720;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.logo img {
    width: 30vw;
    text-align: center;
}
/* .heading h3{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    font-size: 23px;
    height: 70px;
    color: orangered;
    font-weight: 500;
    text-align: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 65px;
} */

.first-section h1 {
    color: white;
    background-color: black;
    text-align: center;
    width: 100vw;
    border: solid;
    border-width: 1px 0px;
    border-color: darkblue;
}

.photo-rack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-bottom: 10px;
}

.photo-rack img {
   display: inline-block;
   align-items: center;
   text-align: center;
   margin: 0px;
   border: 0px;
   height: 20vw;
   width: 20vw;
}

.intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/pexels-riku-keto-29614969_014911.jpg);
    background-size: cover;
    height: 55vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.intro-block-bottom {
    background-color: black;
}

.intro-block-para1 {
    color: white;
    background-color: black;
    font-size: 20px;
    opacity: 55%;
    width: 77vw;
    margin: 15px;
    padding: 25px;
    font-weight: 500;
    border-radius: 55px;
    border: solid;
    border-width: 1px;
    border-color: white;
    align-items: center;
    text-align: center;
}

.intro-block-para2 {
    color: orangered;
    background-color: black;
    font-size: 20px;
    width: 60vw;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/pexels-karolina-grabowska-4206046_014748.jpg);
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

.second-section-para-group{
    color: black;
    background-color: white;
    font-size: 20px;
    opacity: 65%;
    width: 75vw;
    font-weight: 500;
    margin: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 55px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100vw;
}

.third-section-para-group {
    color: white;
    background-color: #151B54;
    font-size: 20px;
    opacity: 85%;
    font-weight: 500;
    width: 75vw;
    margin: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 55px;
    border: solid;
    border-width: 1px;
    border-color: whitesmoke;
}

.border-section {
    height: 1px;
    background-color: #3A3B3C;
    width: 100vw;
    opacity: 75%;
}

.footer-section {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7px;
}

.footer-section p {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.copyright-tag {
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.whatsapp-float-btn img {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-float-btn img:hover {
  background-color: white;
  border-radius: 85px;
  border: solid;
  border-width: 2px;
  border-color: white;
  content: url("https://img.icons8.com/?size=100&id=TRtiP3z8pXb0&format=png&color=000000");
}